<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
        <div class="palm-row single float-left">
                <div id="header-icon" class="icon connections-22"></div>
        </div>
        <div class="header-button" x-mojo-touch-feedback="immediate" id="profileSelector">
            <div class="header-button-wrapper" id="connectionName">
            </div>
        </div>
        <div class="title">Connections</div>
        </div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group">
    <div class="palm-group-title">Profile Management</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Name</div>
                    <div x-mojo-element="TextField" id="name" ></div>
                </div>
            </div>
        </div>
        <div x-mojo-element="Button" id="removeProfile" class="buttonClass"></div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">Server Information</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Host</div>
                        <div x-mojo-element="TextField" id="host" class=""></div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Port</div>
                        <div x-mojo-element="TextField" id="port" class=""></div>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Path</div>
                        <div x-mojo-element="TextField" id="path" class=""></div>
                </div>
            </div>
        </div>
        <!--<div class="palm-row last">-->
        <!--    <div class="palm-row-wrapper">-->
        <!--                <div x-mojo-element="ToggleButton" id="useEncryption"></div>-->
        <!--                <div class="title">Encryption (HTTPS)</div>-->
        <!--    </div>-->
        <!--</div>-->
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">Authentication</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Username</div>
                        <div x-mojo-element="TextField" id="username"></div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">Password</div>
                        <div x-mojo-element="PasswordField" id="password"></div>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                        <div class="label">API Key</div>
                        <div x-mojo-element="TextField" id="api_key"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">Connection Status</div>
    <div class="palm-list">
        <div class="palm-row multiline last">
            <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
<div x-mojo-element="Spinner" id="statusIndicatorSpinner" class="activity-spinner right"></div>
                        <div id="connectionStatusIndicator" class="icon right"></div>
                <div class="title">
                        
                        <div id="connectionStatusText" class="truncating-text">Unknown</div>
                        <div id="connectionTestError" class="list-item-status truncating-text"></div>
                </div>
            </div>
        </div>
        <div x-mojo-element="Button" id="testConnection" class="buttonClass"></div>
    </div>
</div>
