<div class="palm-header" x-mojo-tap-highlight="immediate" >
    <div class="palm-list">
    <div class="palm-row first last">
        <div id="headerRight" class="">
            <div id="speedWrapper" class="right">
                <span id="speed">0 </span>B/s
            </div>
        </div>
        <div id="headerLeft" class="">
            <!--<div class="left icon sab-32"></div>-->
            <span id="status" class="">Connecting to SABnzbd...</span>
        </div>
    </div>
    </div>
</div>