<div class="palm-header left truncating-text" x-mojo-tap-highlight="immediate">
    <div class="palm-header-wrapper">
        <div id="speed-button" class="header-button" x-mojo-touch-feedback="immediate">
            <div class="header-button-wrapper">
                <span id="speed">0 </span>B/s
            </div>
        </div>
        <div class="truncating-text"><span id="status">Connecting...</span> <span id="paused-for">for <span id="pause-int">0</span></span></div>
    </div>
</div>

  <!--<div class="palm-header left truncating-text">-->
  <!--  <div class="palm-header-wrapper">-->
  <!--    <div id='now-playing-button' class="now-playing-button" x-mojo-touch-feedback="immediate">-->
  <!--      <div class="now-playing-wrapper">-->
  <!--        <span x-mojo-loc=''>Now Playing</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="truncating-text" x-mojo-loc=''>Music Library</div>-->
  <!--  </div>-->
  <!--</div>-->