<div class="palm-dialog-content">
    <div class="palm-dialog-title">On Queue Finish</div
    <div class="palm-dialog-message">
        <div>Enter the amount of time (in minutes) you wish to pause downloading. Downloading will resume automatically after the time limit has been reached.</div>
    </div>

</div>
<div class="palm-group unlabeled palm-light">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
                <div x-mojo-element="ListSelector" id="finishActionSelector" class="listselectorClass" ></div>
            </div>
        </div>
    </div>
</div>