<div class="palm-dialog-content">
    <div class="palm-dialog-title">Pause Temporarily</div>
    <div class="palm-dialog-separator"></div>
    <div class="palm-dialog-message">
        <div>Enter the amount of time (in minutes) you wish to pause downloading. Downloading will resume automatically after the time limit has been reached.</div>
        <div class="palm-group unlabeled">
            <div class="palm-list">
                <div class='palm-row single'>
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div class="label">minutes</div>
                            <div id="pauseForText" x-mojo-element="TextField" align="left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-dialog-buttons">
    <div x-mojo-element="Button" id="pauseForButton"></div>
</div>