<div class="palm-row single">
    <div class="palm-group">
        <div class="palm-group-title">Server</div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="label">Version</div>
                    <div class="title">#{-version}</div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="label">Sysload</div>
                    <div class="title">#{-loadavg}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group">
        <div class="palm-group-title">Free Space</div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="label">Download Dir</div>
                    <div class="title">#{-diskspace1} GB</div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="label">Complete Dir</div>
                    <div class="title">#{-diskspace2} GB</div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group">
        <div class="palm-group-title">Queue</div>
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="label">Size</div>
                    <div class="title">#{-size}</div>
                </div>
        </div>
    </div>
</div>
