<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="palm-header left">
        <div class="title">Add A New Download</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group">
    <div class="palm-group-title">Add NZB by URL</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label">url</div>
                    <div x-mojo-element="TextField" id="nzbURL" ></div>
                </div>
            </div>
        </div>
        <div class="selection_target details" id="optionsDivider">
            <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">
                <tr>
                    <td class="left"></td>
                    <td class="label">
                        Options
                    </td>
                    <td class="line" width="100%"></td>
                    <td>
                        <div class="palm-arrow-closed arrow_button" id="optionsToggle"></div>
                    </td>
                    <td class="right"></td>
                </tr>
            </table>
        </div>
        <div id='optionsDrawer' x-mojo-element="Drawer">
            <div class="palm-row">
                <div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
                        <div x-mojo-element="ListSelector" id="categorySelector" class="listselectorClass" ></div>
                </div>
            </div>
            <div class="palm-row">
                <div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
                        <div x-mojo-element="ListSelector" id="processingSelector" class="listselectorClass" ></div>
                </div>
            </div>
            <div class="palm-row">
                <div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
                        <div x-mojo-element="ListSelector" id="scriptSelector" class="listselectorClass" ></div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
                        <div x-mojo-element="ListSelector" id="prioritySelector" class="listselectorClass" ></div>
                </div>
            </div>
        </div>
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="Button" id="addNzbUrl" class="buttonClass"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Browse for an NZB</div>
    <div class="palm-list">
        <div x-mojo-element="Button" id="browseNewzbin" class="buttonClass"></div>
    </div>
</div>
