<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="palm-header left truncating-text">
    <div class="palm-header-wrapper">
        <div class="palm-row single float-left">
                <div id="header-icon" class="icon server-information-22"></div>
        </div>
        <div class="title"><span id="serverName"></span></div>
    </div>
</div>
<div class="palm-header-spacer"></div>
<div id="serverInformationList" x-mojo-element='List'></div>
<!--<div class="palm-group">-->
<!--    <div class="palm-group-title">Warnings</div>-->
<!--    <div class="palm-list">-->
<!--        <div class="palm-row single">-->
<!--            <div class="palm-row-wrapper">-->
<!--                <div class="label">Warnings</div>-->
<!--                <div class="title">#{-have_warnings}</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="selection_target details" id="warningsDivider">-->
<!--            <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">-->
<!--                <tr>-->
<!--                    <td class="left"></td>-->
<!--                    <td class="label">-->
<!--                        Warnings-->
<!--                    </td>-->
<!--                    <td class="line" width="100%"></td>-->
<!--                    <td>-->
<!--                        <div class="palm-arrow-closed arrow_button" id="warningsToggle"></div>-->
<!--                    </td>-->
<!--                    <td class="right"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--        <div id='warningsDrawer' x-mojo-element="Drawer">-->
<!--            <div class="palm-row">-->
<!--                <div class="palm-row-wrapper">-->
<!--                    <div class="label">BLAH</div>-->
<!--                    <div class="title">BLAH BLAH BLAH</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="palm-row single">-->
<!--            <div class="palm-row-wrapper">-->
<!--                <div x-mojo-element="Button" id="clearWarnings" class="buttonClass"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->